{% extends 'base.html.twig' %}

{% block title %}S'enregistrer sur le site
{% endblock %}

{% block body %}
	<body style="height:90vh">

		<div class="container p-5" style="width:95%">

			{% include "public/shared/_messages_flash.html.twig" %}


			<h4>S'enregistrer sur le site
			</h4>

			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.nom) }}
			{{ form_row(registrationForm.prenom) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
			{{ form_row(registrationForm.agreeTerms) }}

			<button type="submit" class="btn btn-outline-primary mb-1">Valider</button>
			{{ form_end(registrationForm) }}
		</div>
	</body>
{% endblock %}
