{% extends 'base.html.twig' %}

{% block title %}Mes informations
{% endblock %}

{% block body %}
	<body style="height:95vh">

		<div class="container mt-5" style="height:80%">
			{% include "public/shared/_messages_flash.html.twig" %}


			<h3 class="container mt-5">Mes informations personelles
			</h3>


			<div class="container mt-5">
				<h6 class="btn btn-primary btn-sm disabled">Nom:</h6>
				{{ user.nom }}
			</div>

			<div class="container mt-4">
				<h6 class="btn btn-primary btn-sm disabled">Prenom:</h6>
				{{ user.prenom  }}
			</div>


			<div class="container mt-4">
				<h6 class="btn btn-primary btn-sm disabled">Adresse mail:</h6>
				{{ user.email  }}
			</div>

			<div class="container mt-2">
				<a class="btn btn-sm btn-danger mt-5" href="{{ path('modifier-mail') }} ">Modifier adresse mail</a>

				<a class="btn btn-sm btn-danger mt-5" href="{{ path('app_forgot_password_request') }} ">Modifier mot de passe</a>
			</div>

		</div>
	</body>

{% endblock %}
